<h5 class="card-panel transparent">

<div class="row">
<p class="right">{{moment-format (now)}}</p>
<p class="left">Aquí se incluirá la información pública relevante sobre la cooperativa. Historia, fotos, quizá información legal... lo que se os ocurra.</p> 
<p class="left">Habrá otra parte que sólo será visible si estás logado en la app.</p> 
<p class="left">E incluso otra, que sólo podrás ver si, además de estar logado, tu usuario está activo, perteneces a la Junta, a alguna comisión de ésta o las peculiaridades que sean necesarias.</p> 
</div>
</h5>
{{outlet}}

